img{
    width:150px;
    display: block;
    margin:auto;
    border-radius: 15px;
    border:1px solid black;
}
figcaption{
    text-align: center;
}
figure{
    padding-top: 18px;
    width: 200px;
    border-radius: 15px;
    border:1px solid black;
    margin-left: 120px;
    margin-right: 120px;
    display: inline-block;
    background-color: rgb(219, 199, 86);
}